<style>
   @media (max-width: 767.98px) {
      .border-sm-start-none {
         border-left: none !important;
      }
   }

    body{
      color: black;
    }
</style>

<section style="background-color: rgb(255, 255, 255); margin-left: 88px;">
   <div class="container py-5 mt-5">


      {{#each products}}
      <div class="row justify-content-center mb-3">
         <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                           <img src="/product-images/{{this.items._id}}.png" style=" height: 352px;" class="w-100" />
                           <a href="#!">
                              <div class="hover-overlay">
                                 <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-6 col-xl-6">
                        <h5>{{this.items.name}}</h5>
                        <div class="d-flex flex-row">
                           <div class="text-dark mb-1 me-2">
                              Category -
                           </div>
                           <span>{{this.items.type}}</span>
                        </div>
                        <p class="text mb-4 mb-md-0">
                           {{this.items.description}}
                        </p>


                     </div>
                     <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                        <div class="d-flex flex-row align-items-center mb-1">
                           <h4 class="mb-1 me-1">₹{{this.items.price}}</h4>
                           <span class="text-danger"><s>₹21.99</s></span>
                        </div>
                        <h6 class="text-success" style="text-transform: uppercase;">{{this.paymentMethod}}</h6>
                        <div class="d-flex flex-column mt-4">
                           <div
                              style="width: 206px;height: 197px;margin-top: -15px;margin-left: -4px;">
                              <p>
                                 <u>ADDRESS</u>   <br>
                                 Name - {{this.delivaryDetails.name}}{{this.delivaryDetails.lastname}} <br>
                                 Mobile - {{this.delivaryDetails.mobile}} <br>
                                 Address - {{this.delivaryDetails.address}} <br>
                                 Pincode - {{this.delivaryDetails.pincode}} <br>
                                 Email - {{this.delivaryDetails.email}} <br>
                                 Country - {{this.delivaryDetails.country}} <br>
                                 State - {{this.delivaryDetails.state}} <br>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{/each}}

   </div>
</section>