<section style="width: 100%;">
   <div class="p-5">
      <h1 class="text-center text-dark mb-5">
         Order Details
      </h1>
      <table class="table table-bordered" id="mytbl">
         <thead>
            <tr>
               <th>Sl.no</th>
               <th>Payment Method</th>
               <th>Date & Time</th>
               <th>Product Details</th>
               <th>Status</th>
               <th>Payment Method</th>
               <th>Action Change</th>
            </tr>
         </thead>
         <tbody>
            {{#each reponse}}
            <tr>
               <th scope="row">{{inc @index}}</th>
               <td style="text-transform: uppercase;">{{this.paymentMethod}}</td>
               <td>{{this.Date}}</td>
               <td><a href="/admin/orderdetail/{{this._id}}" class="btn btn-dark">View Details</a></td>
               <td style="text-transform: uppercase;">{{this.paymentMethod}}</td>
               <td style="text-transform: uppercase;">{{this.status}}</td>
               
               <td>
                  <form action="/admin/change-status/{{this._id}}" method="post">
                     <select class=" form-select mb-1" name="status">
                        <option name="" value="0" selected>Select
                        </option>
                        <option value="Shipped">
                           Shipped</option>
                        <option value="Cancel">
                           Cancel</option>
                        <option value="delivered">
                           delivered</option>
                     </select>
                     <br>
                     <button class="btn btn-dark float-left second ms-3">
                        SAVE </button>
                  </form>
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>

   <script>
      function cancel_order(orderId) {
         $.ajax({
            url: `/cancel-order/${orderId}`,
            method: 'get',
            success: (response) => {
               if (response) {
                  location.reload()
               }
            }
         })
      }

      $(document).ready(function () {
         $('#mytbl').DataTable({
            dom: 'Bfrtip',
            buttons: [
               'copy', 'csv', 'excel', 'pdf', 'print'
            ]
         });
      });
   </script>
</section>