<section style="width: 100%;">
   <center>
      <h3 class="mt-5">
         LIST OF CATEGORY
      </h3>
   </center>
   <div class="p-5">
      <div>
         <a href="/admin/addcategories" class="btn float-right mb-5"
            style="background-color: #FB641B; color: white;">ADD CATEGORY</a>
      </div>
      <table class="table mt-5 align-middle text-center table-bordered" id="mytbl">
         <thead class="text-center">
            <tr>
               <th class="text-center">Sl.No</th>
               <th class="text-center">Category</th>
               <th class="text-center">Offer %</th>
               <th class="text-center">Date</th>
               <th class="text-center">Image</th>
               <th class="text-center">Status</th>
            </tr>
         </thead>
         <tbody class="text-center">
            {{#each category}}
            <tr>
               <th>{{inc @index}}</th>
               <td>{{this.category}}</td>
               <td>{{this.offer}}</td>
               <td>{{this.data}}</td>
               <td><img style="width:60px; height:100px;" src="/category-images/{{this._id}}.png" alt=""></td>
               <td>
                  <button onclick="deletecategory('{{this._id}}')"
                     style="width:90px; background-color: #FB641B;color: white;" class="btn">DELETE</button>
                  <a href="/admin/editcategory/{{this._id}}" style="width:70px; background-color: #FB641B;color: white;"
                     class="btn">EDIT</a>
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</section>


{{!-- ajax function --}}
<script>
   function deletecategory(catId) {
      Swal.fire({
         title: 'Do you want to Delete ?',
         showCancelButton: true,
         confirmButtonText: 'Delete',
      }).then((result) => {
         if (result.isConfirmed) {
            $.ajax({
               url: `/admin/deletecategory/${catId}`,
               method: "get",
               success: (result) => {
                  location.reload();
               }
            })
         } else {
         }
      })
   }

   $(document).ready(function () {
      $('#mytbl').DataTable({
         dom: 'Bfrtip',
         buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
         ]
      });
   });
</script>