<section style="width: 100%;">
   <center>
      <h3 class="mt-5">
         LIST OF PRODUCTS
      </h3>
   </center>
   <div class="p-5">
      <div>
         <a href="/admin/addproducts" class="btn float-right mb-5" style="background-color: #FB641B; color: white;">ADD
            PRODUCT</a>
      </div>

      <table class="table  table-bordered mt-5" id="mytbl">
         <thead>
            <tr>
               <th class="text-center">Sl.no</th>
               <th class="text-center">Name</th>
               <th class="text-center">Price</th>
               <th class="text-center">Category</th>
               <th class="text-center">Stock</th>
               <th class="text-center">Image</th>
               <th class="text-center">Status</th>
               <th class="text-center">Active Status</th>
            </tr>
         </thead>
         <tbody>
            {{#each products}}
            <tr class="text-center">
               <th scope="row">{{inc @index}}</th>
               <td style="width: 32rem; word-wrap:break-word;">{{this.name}}</td>
               <td>{{this.price}}</td>
               <td>{{this.category}}</td>
               <td>{{this.stock}}</td>
               <td><img style="width:60px; height:100px;" src="/product-images/{{this._id}}.png" alt=""></td>
               <td>
                  <button onclick="deleteproduct('{{this._id}}')"
                     style="width:90px; background-color: #FB641B;color: white;" class="btn">DELETE</button>
                  <a href="/admin/editproducts/{{this._id}}" style="width:70px; background-color: #FB641B;color: white;"
                     class="btn">EDIT</a>
                  <a href="/admin/moredetails/{{this._id}}" style="width:155px; background-color: #FB641B;color: white;"
                     class="btn">MORE DETAILS</a>
               </td>
               {{#if this.isActive}}
               <td scope="row" style="width:5rem ;">
                  <div class="form-check form-switch">
                     <input type="checkbox" class="form-check-input" r id="{{this._id}}"
                        onclick="activeStatus('{{this._id}}')" checked>
                  </div>
               </td>
               {{else}}
               <td scope="row" style="width:5rem ;">
                  <div class="form-check form-switch">
                     <input type="checkbox" class="form-check-input" id="{{this._id}}"
                        onclick="activeStatus('{{this._id}}')">
                  </div>
               </td>
               {{/if}}
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</section>

<script>
   function deleteproduct(prodId) {
      $.ajax({
         url: `/admin/deleteproduct/${prodId}`,
         method: "get",
         success: (response) => {
            if (response) {
               Swal.fire('Product Deleted').then(() => {
                  location.reload()
               });
            }
         }
      })
   }


   function activeStatus(id) {
      let activeStatus = document.getElementById(id)
      if (activeStatus.checked == true) {
         $.ajax({
            url: `/admin/activeTrue/${id}`,
            method: 'get',
            success: (response) => {
               Swal.fire('Product InActive')
            }

         })
      } else if (activeStatus.checked == false) {
         $.ajax({
            url: `/admin/activeFalse/${id}`,
            method: 'get',
            success: (response) => {
               Swal.fire('Product Active')
            }
         })
      }
   }



   $(document).ready(function () {
      $('#mytbl').DataTable({
         dom: 'Bfrtip',
         buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
         ]
      });
   });
</script>