<section>
   <center>
      <h3 class="mt-5">
         LIST OF USERS
      </h3>
   </center>
   <div class="container ml-5" style="width: 75rem;">
      <div>
         <a href="/admin/addusers" class="btn float-right mb-5" style="background-color: #FB641B; color: white;">ADD
            USERS</a>
      </div>
      <table class="table mt-5" id="mytbl">
         <thead>
            <tr>
               <th scope="col">Sl.No</th>
               <th scope="col">First Name</th>
               <th scope="col">Email</th>
               <th scope="col">Place</th>
               <th scope="col">Password</th>
               <th scope="col">Status</th>

            </tr>
         </thead>
         <tbody>
            {{#each users}}
            <tr>
               <th scope="row">{{inc @index}}</th>
               <td>{{this.fname}}</td>
               <td>{{this.email}}</td>
               <td>{{this.place}}</td>
               <td style="font-size: 5px;">{{this.password}}</td>
               <td>
                  <button onclick="deleteuser('{{this._id}}')"
                     style="width:80px; background-color: #FB641B; color: white;" class="btn">DELETE</button>
                  <a href="/admin/editusers/{{this._id}}" style="width:60px; background-color: #FB641B; color: white;"
                     class="btn">EDIT</a> <br>
                  <div class="mt-3">
                     {{#if this.blocked}}
                     <button onclick="unblockUser('{{this._id}}')"
                        style="width:100px;  background-color: #FB641B; color: white; margin-left: 29px;"
                        class="btn ">UNBLOCK</button>
                     {{else}}
                     <button onclick="blockUser('{{this._id}}')"
                        style="width:100px; background-color: #FB641B; color: white; margin-left: 29px;"
                        class="btn">BLOCK</button>
                     {{/if}}
                  </div>
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</section>

<script>
   function deleteuser(UserId) {
      $.ajax({
         url: `/admin/delete/${UserId}`,
         method: "get",
         success: (response) => {
            if (response) {
               Swal.fire({
                  title: "DELETE USER",
                  text: "CONFORM!",
                  icon: "success",
                  buttonsStyling: false,
                  confirmButtonText: "Yes Conform",
                  customClass: {
                     confirmButton: "btn btn-primary"
                  }
               }).then(() => {
                  location.reload()
               });
            }
         }
      })
   }

   function blockUser(UserId) {
      $.ajax({
         url: `/admin/block_user/${UserId}`,
         method: "get",
         success: (response) => {
            if (response) {
               Swal.fire({
                  icon: 'error',
                  title: 'User Has Blocked',
                  showConfirmButton: false,
                  timer: 1500
               })
                  .then(() => {
                     location.reload()
                  });
            }
         }
      })
   }

   function unblockUser(UserId) {
      $.ajax({
         url: `/admin/Unblock_user/${UserId}`,
         method: "get",
         success: (response) => {
            if (response) {
               Swal.fire({
                  icon: 'success',
                  title: 'User Has UnBlocked',
                  showConfirmButton: false,
                  timer: 1500
               })
                  .then(() => {
                     location.reload()
                  });
            }
         }
      })
   }




  $(document).ready(function() {
    $('#mytbl').DataTable( {
        dom: 'Bfrtip',
         buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>