<style>
   @media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
</style>

<section style="background-color: rgb(255, 255, 255);">
  <div class="container py-5 mt-5">


{{#each products}}
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="/product-images/{{this.items._id}}.png" style=" height: 200px;"
                    class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{this.items.name}}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <span>289</span>
                </div>
                
                
                <p class="text mb-4 mb-md-0">
                  {{this.items.description}}
                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">₹{{this.items.price}}</h4>
                  <span class="text-danger"><s>₹21.99</s></span>
                </div>
                <h6 class="text-success" style="text-transform: uppercase;">{{this.paymentMethod}}</h6>
                <div class="d-flex flex-column mt-4">
                  <a class="btn btn-dark btn-sm" type="button">Add to Cart</a>
                  <button class="btn btn-outline-dark btn-sm mt-2" type="button">
                    Add to wishlist
                  </button>
                  <div>
                    <center class="mt-4 text-dark"><a>ORDERED ADDRESS</a></center>
                    <p class="text-center">
                      {{this.delivaryDetails.name}}{{this.delivaryDetails.lastname}}<br>
                      {{this.delivaryDetails.mobile}}, {{this.delivaryDetails.address}}<br>
                      {{this.delivaryDetails.email}}, {{this.delivaryDetails.pincode}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{{/each}}

  </div>
</section>
