<style>
    body{
        background-color: white;
    }
</style>

<body>
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" style="background-color: white;"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Open Content -->
    <section class="bg-white">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3" style="border: none;">
                        <img class="card-img img-fluid mx-auto d-block" src="/product-images/{{singleproduct._id}}.png"
                            alt="Card image cap" id="product-detail" style="height: 600px;width:300px;">
                    </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item "
                            data-bs-ride="carousel">

                            <div class="row">
                                <div class="col-4">
                                    <a href="#">
                                        <img class="card-img img-fluid" src="/product-images/{{singleproduct._id}}1.png"
                                            alt="Product Image 1" style="height: 150px;width: 150px;">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="#">
                                        <img class="card-img img-fluid" src="/product-images/{{singleproduct._id}}2.png"
                                            alt="Product Image 2" style="height: 150px;width: 150px;">
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="#">
                                        <img class="card-img img-fluid" src="/product-images/{{singleproduct._id}}3.png"
                                            alt="Product Image 3" style="height: 150px;width: 150px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card"  style="border: none;">
                        <div class="card-body">
                            <h1 class="h2 text-dark">{{singleproduct.name}}</h1>
                            <p class="h3 py-2 text-dark"><strong>Rs - {{singleproduct.price}}/-</strong></p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Avaliable Color :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>White / Black / Peach / Neavy Blue</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Category :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{singleproduct.type}}</strong></p>
                                </li>
                            </ul>
                            <h6>Description:</h6>
                            <p>{{singleproduct.description}}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6> </h6>
                                </li>
                            </ul>
                            <h6 class="text-dark"><strong>SPECIFICATIONS</strong></h6>
                            <ul class="list-unstyled pb-3 text-dark ">
                                <li>Model Number &nbsp; - &nbsp; {{singleproduct.modelnumber}}</li>
                                <li>Model Name &nbsp; - &nbsp; {{singleproduct.modelname}}</li>
                                <li>Port Number &nbsp; - &nbsp; {{singleproduct.portnumber}}</li>
                                <li>Series &nbsp; - &nbsp; {{singleproduct.series}}</li>
                                <li>Battery Backup &nbsp; - &nbsp; {{singleproduct.batterybackup}}</li>
                                <li>Power Supply &nbsp; - &nbsp; {{singleproduct.powersupply}}</li>
                            </ul>


                            <input type="hidden" name="product-title" value="Activewear">

                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <button type="submit" class="btn  btn-lg" name="submit"
                                        value="buy">Buy</button>
                                </div>
                                <div class="col d-grid">
                                    <a type="submit" onclick="addtocartconfrom('{{singleproduct._id}}')"
                                        class="btn  btn-lg text-dark" name="submit" value="addtocard">Add To Cart</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Start Script -->
    <script src="/images/js/jquery-1.11.0.min.js"></script>
    <script src="/images/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/images/js/bootstrap.bundle.min.js"></script>
    <script src="/images/js/templatemo.js"></script>
    <script src="/images/js/custom.js"></script>

    {{!-- ajax functions --}}
    <script>
        function addtocartconfrom(prodId) {
            $.ajax({
                url: `/add-to-cart/${prodId}`,
                method: "get",
                success: (response) => {
                    if (response) {
                        let count = $('#cartCount').html()
                        count = parseInt(count)+1
                        $('#cartCount').html(count)
                        Swal.fire({
                            title: "ADDED TO CART",
                            text: "CONFORM!",
                            icon: "success",
                            buttonsStyling: false,
                            confirmButtonText: "Yes Conform",
                            customClass: {
                                confirmButton: "btn btn-primary"
                            }
                        });
                    }
                }
            })
        }
    </script>